<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="h4">{{ journal.date.format('dddd, MMMM Do, yyyy') }}</h2>
            <div>Total trades: {{ journal.totalTrades() }}</div>
            <div>Total volume: {{ journal.totalVolume() }}</div>
            <div>Total fees: {{ journal.totalFees() | currency: 'USD' }}</div>
            <div>Total commissions: {{ journal.totalCommissions() | currency: 'USD' }}</div>
        </div>
        <div class="col">
            <p class="display-1 text-right">{{ journal.totalProfitAndLoss(true) | currency: 'USD' }}</p>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Time</th>
            <th></th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Price</th>
            <th class="text-right">Proceeds</th>
            <th class="text-right">Commissions</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let symbolEntry of journal.symbols">
            <tr>
                <td><button class="btn btn-link" (click)="onSymbolClick(symbolEntry.symbol)">{{ symbolEntry.symbol }}</button></td>
                <td></td>
                <td></td>
                <td class="text-right"><strong>{{ symbolEntry.volume() }}</strong></td>
                <td></td>
                <td class="text-right"><strong>{{ symbolEntry.profitAndLoss(true) | currency: 'USD' }}</strong></td>
                <td class="text-right"><strong>{{ symbolEntry.commissions() | currency: 'USD' }}</strong></td>
            </tr>
            <tr *ngFor="let exec of symbolEntry.executions" display='hidden' [ngClass]="{ 'collapsedRow': !expandedSymbols.includes(symbolEntry.symbol) }">
                <td></td>
                <td>{{ exec.date.format('HH:mm:ss') }}</td>
                <td><span class="badge" [ngClass]="{ 'badge-danger': exec.actionType === 'SELL', 'badge-success': exec.actionType === 'BUY' }">{{ exec.actionType }}</span></td>
                <td class="text-right">{{ exec.quantity }}</td>
                <td class="text-right">{{ exec.unitPrice.amount | currency: 'USD' }}</td>
                <td class="text-right">{{ exec.proceeds() | currency: 'USD' }}</td>
                <td class="text-right">{{ exec.commissions.amount | currency: 'USD' }}</td>
            </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-right"><strong>{{ journal.totalProfitAndLoss(false) | currency: 'USD' }}</strong></td>
            <td class="text-right"><strong>{{ journal.totalCommissions() | currency: 'USD' }}</strong></td>
        </tr>
    </tfoot>
</table>