.chartContainer {
    height: 53px; 
    width: 100%; 
    margin-left:auto;
    margin-right:auto;
}

.returnContainer {
    display: flex;
    height: 218px;
}

.chartContainer {
    flex-grow: 1;
}