<div class="returnContainer">
    <div>{{ title}}: {{ averageReturn | currency: 'USD' }}</div>
    <div class="chartContainer">
        <canvas baseChart height="53"
          [datasets]="areaChartData"
          [legend]="areaChartLegend"
          [options]="areaChartOptions"
          [colors]="areaChartColors"
          
          [chartType]="areaChartType"
          [plugins]="areaChartPlugins">
        </canvas>
      </div>
</div>


<script src="node_modules/chart.js/src/chart.js"></script>

