.calendar {
}

.calendar .month-names {
    text-align: center;
    padding: 2px,
}

.calendar .day-names {
    text-align: center;
}

.calendar .cell {
}

.calendar-sm .cell {

}

.calendar .day {
    background-color: #e0e0e0;
}

.calendar .win {
    background-color: #ccffcc;
}

.calendar .loss {
    background-color: #ffadad;
}

.calendar .draw {
    background-color: lightgray;
}

.calendar .weekend {
    background-color: #ccc;
}